@charset "UTF-8";

body {
  padding: 80px 0 0 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background: url(../img/soft-background.png);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  height: 100vh; 
  width: 100%;
}

body::before {
  content: "";
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white no-repeat center center;
  background-size: cover;
  opacity: 0.5;
  z-index: -1; 
}

input, button {
  font-family: 'Roboto', sans-serif;
}

.noFill {
  fill: none;
}
.btn {
  margin: 5px;
}
.title {
  color: rgb(196, 120, 134);
}

h1, h3 {
  color: rgb(34, 67, 150);
}

h2 {
  color: rgb(69, 96, 163);
}

/* Flash message */ 
.flash-banner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  font-size: 2rem;
  text-align: center;
  color: black; 
  pointer-events: none; 
}

.flash-message {
  background-color: transparent; 
  padding: 10px;
}

/* Containers */
.login-container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #ffffff;
    border-radius: 40px; 
    box-shadow: 0px 0px 5px 0px rgb(52, 51, 51);
}

.duty-container{
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 40px; 
    box-shadow: 0px 0px 5px 0px rgb(52, 51, 51);
}

.duties-container {
  max-width: 300px;
  margin: 0 auto;
  border-radius: 5px; 
}

 /* Bottom navbar */ 
 .nav-item-home {
  color: rgb(39, 39, 39);
  text-decoration: underline;  
  text-decoration-thickness: 1px; 
  text-underline-offset: 3px; 
  font-size: large;
  padding: 5px;
}

.nav-item-home:hover {
  color: rgb(11, 9, 51); 
  text-decoration: underline; 
  text-decoration-thickness: 3px; 
}

/* Login / Register */
.form-control {
  width: 50%; 
  margin: 0 auto; 
  padding: 10px; 
}

@media (max-width: 768px) {
  .form-control {
      width: 75%; 
  }
}

@media (max-width: 576px) {
  .form-control {
      width: 100%; 
}
}

/* Home html  */ 
ul {
  list-style: url();
}

.main-container {
  margin-top: 20px;
}
.motivational-header {
  font-family: "Playwrite DE Grund", cursive;
  font-weight: 900;
  font-style: normal;
}
.duty-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cheer-img {
  margin-left: 10px;
  width: 50px; 
  height: auto; 
}

#incomplete-duties, #complete-duties {
  list-style-type: none;
  padding-left: 0;
}

.icon-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 10px;
  padding: 0;
  vertical-align: middle;
}

.icon-button i {
  color: #007bff;
}

.icon-button:hover i {
  color: #0056b3; 
}

.duty-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

hr {
  margin: 10px 0;
  border: 1px solid #dee2e6;
}

.bi-check-circle-fill {
  font-size: 1.2rem;
  color: green;
}

.bi-trash:hover {
  color: darkred;
}

/* Edit HTML */
.form-check {
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 5px; 
  margin: 20px 5px 20px 5px;
}

.form-check-input {
  margin-left: 0; 
}

.form-check-label {
  margin-bottom: 0; 
}
