<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Prevent Caching -->
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <!-- Content Type Meta tag -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Office To-Do List</title>

    <!-- Font embed -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Office-Duties</span>
            <!-- user is loggin in -->
            {% if 'user' in session %}
            <!-- Show logout button when user is logged in -->
            <a href="{{ url_for('logout') }}" class="btn btn-warning">Logout</a>
        {% else %}
            <!-- Show login button when no user is logged in -->
            <a href="{{ url_for('login') }}" class="btn btn-wanring">Login</a>
        {% endif %}
    </div>       
    </nav>
<header> 
       <!-- Content outside of the container -->
       {% block outside_container %}
       {% endblock %}
</header>
    <!-- main content -->
     <main class="container text text-center">
         {% if 'user' in session %}
         <!-- user is logged in -->
         <h3>Welcome, {{ session['user'] }}</h3>
         <a href="{{ url_for('add_duty') }}">Add Duty</a>
     {% else %}
    
       <!-- flash-banner -->
       <div class="flash-banner">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="center-align">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
<!-- user is logged out -->
<h4>Welcome to your office-dutty friend!</h4>
{% endif %}
{% block content %}
         {% endblock%}
     </main>
     
<!-- JavaScripts -->
<script src="/static/js/main.js"></script>

 <!-- Bootstrap JS -->
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
 integrity="sha384-eMNjoO1ozD+CQVBWILr2OkxqsOftKB2QaK2Mdzg7tQ6MFLACV1ztF9XErpFUPzv1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
 integrity="sha384-cVKIPhGiai0G4A9K0Q7RfdB8KI5Kz/9C+HeFZ2ew1C3p1I5BQy1j3UHVDBUE3FN" crossorigin="anonymous"></script>

</body>
</html>
