{% extends 'base.html' %}
{% block content %}

{% block outside_container %}
   <!-- inspiting quotes -->
<div class="text-center">
    <h1></h1>
</div>
{% endblock %}

</div>
    <div class='row'>
        <div class='col-12 col-md-8 mx-auto'>
            <div class='card'>
                <ul>
                    {% for duty in duties %}
                        <li>{{ duty.title }} - {{ duty.description }} - {% if duty.completed %}Completed{% else %}Not Completed{% endif %}</li>
                    {% endfor %}
                </ul>
            </div>

{% endblock %}