{% extends 'base.html' %}
{% block content %}
<!-- duties-->
    <div class='row'>
        <div class='col-12 col-md-8 mx-auto'>
            <div class='card'>
                <h3>Duties</h3>
                <ul>
                    {% for task in tasks %}
                        <li>{{ task.title }} - {{ task.description }} - {% if task.completed %}Completed{% else %}Not Completed{% endif %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}